*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.grid-contanier{
    width: 100%;
    padding:10px;
}
[id*="block-"]{
    min-height: 1px;
    height:50px;
    border: solid 1px #999999;
    background-color: #eeeeee;
    margin: 10px;
    float: left;
}
#block-1{width:calc(calc(100% - 60px) / 3)}
#block-2{width:calc(calc(100% - 60px) / 3)}
#block-3{width:calc(calc(100% - 60px) / 3)}
#block-4{width: calc(calc(100% - 60px) / 4)}
#block-5{width: calc(calc(100% - 60px) / 2)}
#block-6{width: calc(calc(100% - 60px) / 4)}
#block-7{width: calc(calc(100% - 100px) / 12)}
#block-8{width: calc(calc(100% - 100px) / 12)}
#block-9{width: calc(calc(100% - 100px) / 6)}
#block-10{width:calc(calc(100% - 100px) / 6)}
#block-11{width:calc(calc(100% - 100px) / 2)}

@media all and (max-width: 768px){
    #block-1{width:calc(calc(100% - 40px) / 2)}
    #block-2{width:calc(calc(100% - 40px) / 2)}
    #block-3{width: calc(100% - 20px)}
    #block-4{width: calc(calc(100% - 60px) / 4)}
    #block-5{width: calc(calc(100% - 60px) / 2)}
    #block-6{width: calc(calc(100% - 60px) / 4)}
    #block-7{width: calc(calc(100% - 60px) / 6)}
    #block-8{width: calc(calc(100% - 60px) / 6)}
    #block-9{width: calc(calc(100% - 60px) / 1.5)}
    #block-10{width:calc(calc(100% - 40px) / 4)}
    #block-11{width:calc(calc(100% - 40px) / 4)}

}